@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
    margin: 0;
    padding:0;
    background: #F5F5F5;
}
#container{
    width:100%;
    height:100%;

    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.title{
    font-family: 'Roboto Slab', serif;
    color: #424242;
    font-size: 36px;

}
#minefield{
    display:flex;
    flex-flow: column wrap;

}
.line{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
}
.square{
    width: 40px;
    height: 40px;
    margin: 0.5px;
    padding: 1px;

    line-height: 40px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 24px;

    background: rgb(84,227,142);
    background: linear-gradient(45deg, 
      rgba(84,227,142,1) 0%, 
      rgba(65,199,175,1) 100%);
}
.square:hover{
    background: #5fffa0;
    cursor: pointer;

}
.square.discovered{
    background: rgb(255,222,167);
background: linear-gradient(45deg, rgba(255,222,167,1) 0%, rgba(234,99,98,1) 100%);
}